/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
composer.lock
package-lock.json
docs.for.me.md
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
